<html ng-app="projeto">

<head>
    <title>Forum de Discussão</title>
    <meta charset="UTF-8">
    <link rel="icon" href="img/kbase-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/partials.css">
    <link rel="stylesheet" type="text/css" href="css/editarUsuario.css">
    <script src="libs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/deslogarCtrl.js"></script>
    <script src="js/directives/uiPartials.js"></script>
    <script src="js/controllers/editarUsuarioCtrl.js"></script>
    <script src="js/services/tagAPI.js"></script>
    <script src="js/services/usuarioAPI.js"></script>

</head>

<body ng-controller="editarUsuarioCtrl">
    <ui-header></ui-header>

    <div class="alert alert-danger" ng-show="error">{{error}}</div>

    <div id="container" ng-show="!error">

        <div id="perfil">
            <input type="text" ng-model="usuario.nome" class="form-control">
            <textarea ng-model="usuario.bio" rows="10" class="form-control"></textarea>

            <form name="usuarioForm" style="margin-bottom: 5%;">

                <input type="password" ng-model="usuario.senhaAntiga" name="senha1" class="form-control"
                    placeholder="Digite sua senha atual">

                <input type="password" ng-model="usuario.senhaNova" name="senha2" placeholder="Digite sua nova senha"
                    class="form-control" ng-pattern="/^(?=\D*\d)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z]).{6,30}$/">

                <div ng-show="usuarioForm.senha2.$error.pattern" class="alert alert-info" style="font-size: 25px;">
                    A senha deve conter pelo menos 6 caracteres, 1 numero, 1 letra maiuscula e 1 letra minuscula</div>
            </form>

            <button ng-repeat="tag in tags" class="tag" ng-click="removerTag(tag.id)">{{tag.tech}} -
                {{tag.nivel}}</button>

            <form class="form-inline">
                <select ng-model="novaTag" ng-options="tag2.tech for tag2 in tags2" class="form-control"
                    style="width: 75%;">
                    <option value="">Nenhuma TAG selecionada</option>
                </select>

                <select ng-model="novaTag.nivel" ng-options="n for n in niveis" ng-init="novaTag.nivel='Iniciante'"
                    class="form-control" style="width: 14%; margin-left: 1%;">
                </select>
                <button class="btn btn-dark" ng-click="adicionarTag()" ng-disabled="!novaTag.tech || !novaTag.nivel"
                    style="width: 9%; margin-left: 1%;">Adicionar</button>
            </form>

            <button
                ng-disabled="usuario.nome.length<=4 || usuario.senhaAntiga && !usuario.senhaNova || usuario.senhaAntiga && usuario.senhaAntiga!==usuario.senha || usuarioForm.$invalid || !usuario.senhaAntiga && usuario.senhaNova"
                class="btn btn-primary btn-lg" style="margin-top:5%;">Salvar Perfil</button>
        </div>
    </div>

    <ui-footer></ui-footer>
</body>

</html>