<html ng-app="projeto">
    <head>
        <title>Forum de Discussão</title>
        <meta charset="UTF-8">
        <link rel="icon" href="img/kbase-icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/partials.css">
        <link rel="stylesheet" type="text/css" href="css/sobre.css">
        <script src="libs/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/deslogarCtrl.js"></script>
        <script src="js/controllers/indexCtrl.js"></script>
        <script src="js/directives/uiPartials.js"></script>
    </head>
    <body>
        <ui-header></ui-header>
        <div id="container">
            Nos somos o Yuri. o Maluco no pedaço que pregramou isso
        </div>
        <ui-footer></ui-footer>
    </body>
</html>