<html ng-app="projeto">
    <head>
        <title>Forum de Discussão</title>
        <meta charset="UTF-8">
        <link rel="icon" href="img/kbase-icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/partials.css">
        <link rel="stylesheet" type="text/css" href="css/sobre.css">
        <script src="libs/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/deslogarCtrl.js"></script>
        <script src="js/controllers/indexCtrl.js"></script>
        <script src="js/directives/uiPartials.js"></script>
    </head>
    <body>
        <ui-header></ui-header>
        <div id="container">
            Muito prazer, meu nome é Yuri França.<br>
            Atualmento estudo no IFSUL sapucaia 2019-2020 <br>
            Este é o projeto que originou de um projeto talentos que participei na KBASE CANOAS <br>
            Não tenho vontado de deixar o site bonito, apenas apresentavel. Ele é a prova de que eu realmente aprendi alguma coisa e que estou me esforçando para colocar em prática!!
            <hr>
            
        </div>
        <ui-footer></ui-footer>
    </body>
</html>