<html ng-app="projeto">

<head>
    <title>Forum de Discussão</title>
    <meta charset="UTF-8">
    <link rel="icon" href="img/kbase-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/partials.css">
    <link rel="stylesheet" type="text/css" href="css/topico.css">
    <script src="libs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/deslogarCtrl.js"></script>
    <script src="js/directives/uiPartials.js"></script>
    <script src="js/controllers/topicoCtrl.js"></script>
    <script src="js/services/topicoAPI.js"></script>
    <script src="js/services/comentarioAPI.js"></script>
</head>

<body ng-controller="topicoCtrl">
    <ui-header style="z-index: 9999;"></ui-header>

    <div id="container">
        <div class="alert alert-danger" ng-show="error">{{error}}</div>
        <div ng-show="!error">
            <table class="table" style="border-right: 2px solid #444444; border-left: 2px solid #444444; margin-bottom: 0px;">
                <tr class="thead-dark">
                    <th>Titulo</th>
                    <th>Tecnologia</th>
                    <th>Criação</th>
                    <th>Usuário</th>
                    <th>Finalizado</th>
                </tr>
                <tr>
                    <td width="40%">{{topico.titulo}}</td>
                    <td>{{topico.tech}}</td>
                    <td>{{topico.criacao | date:'dd/MM/yy hh:mm'}}</td>
                    <td>{{topico.nome}}</td>
                    <td>{{topico.finalizado}}</td>
                </tr>
            </table>

            <table class="table" style="border-bottom: 2px solid #444444; border-right: 2px solid #444444; border-left: 2px solid #444444; margin-top: 0px;">
                <tr>
                    <th width="100%" style="text-align: center; word-wrap: break-word;">Descrição</th>
                </tr>
                <tr>
                    <td>{{topico.descricao}}</td>
                </tr>
            </table>

            <h1 style="text-align: center">Comentários</h1>
            
            <table class="table coment" ng-repeat="comentario in comentarios" >
                <tr class="thead-dark">
                    <th>Usuario</th>
                    <th>Criação</th>
                    <th>resposta</th>
                </tr>
                <tr class="table" >
                    <td>{{comentario.nome}}</td>
                    <td>{{comentario.criacao | date:'dd/MM/yy hh:mm'}}</td>
                    <td>{{comentario.resposta}}</td>
                </tr>
                <tr><td colspan="10">{{comentario.descricao}}</td></tr>
            </table>

        </div>
    </div>
    <ui-footer></ui-footer>
</body>

</html>