*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


#container{
    width: 100%;
    color: #444444;
    min-height: 100vh;
}

#perfil{
    height: 100%;
    width: 30%;
    float: left;
    padding: 2% 2%;
    box-shadow: 5px 0 3px -4px #444444;
    
}

#bio{
    box-shadow: 0px 0px 1px 2px rgb(80, 80, 80); 
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    padding: 6% 6%;
    margin-top: 4%;
    margin-bottom: 5%;
    word-wrap: break-all;
}

#tags{
    width: 100%;
    height: auto;
}

.tag{
    background-color: rgb(51, 41, 90);
    padding: 2% 2%;
    color: whitesmoke;
    width: auto;
    border-radius: 8px;
    float: left;
    margin: 0px 3% 2% 0px;
    border: 1px solid rgb(51, 41, 90);
}

.tag:hover{
    background-color: rgb(69, 60, 107);
}

.capitalize {
    text-transform: capitalize;
    text-align: center;
}

#topicos{
    height: 100%;
    width: 70%;
    float: left;
    padding: 2% 4%;
}

#topicos a{
    font-style: none;
    color: #444444;
}

.alert-danger{
    width: 80vw;
    margin: 5% auto;
    position: relative;
    text-align: center;
    padding: 2%;
    font-size: 40px;
}

.alert-primary{
    margin: 5vh 5%;
    width: 60%;
    float: left;
}

.table{
    color: #444444;
}